// html,
// body {
//   background-color: #070a0c;
// }

.landing {
  padding-bottom: 3rem;
  .landingflex {
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    flex: 1;
    margin: 0 auto;
    //border: 1px solid blue;
    margin-top: 10rem;

    @media screen and (max-width: 700px) {
      flex-direction: column;
      max-width: 350px;
      justify-content: center;
      margin-top: 4rem;

      .fish {
        //max-height: 200px;
        float: right;
        img {
          object-fit: contain;
          max-height: 250px;
          float: right;
        }
      }
    }

    > div {
      flex: 1;
      //border: 1px solid blue;
    }

    .title {
      margin-left: 1rem;
      //margin-top: 10rem;

      .high {
        color: #f4f4f4;
      }
      .spantitle {
        color: #ebaf4b;
      }

      p {
        color: hsla(0, 0%, 100%, 0.5);
        font-size: 1.3rem;
      }
      h1 {
        color: #40c4fb;
        font-size: 3rem;
      }
    }
  }
}

/////////////////////////////////////////////////////
.intro {
  //min-height: 100vh;
  //border: 1px solid red;
  background-color: var(--lightb);
  padding-bottom: 3rem;
}

.introflex {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex: 1;
  //border: 1px solid blue;

  > div {
    //max-width: 400px;
    flex: 1;
    //border: 1px solid green;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 4rem;
  }

  .name {
    h2 {
      font-size: 3rem;
      //padding-top: 3rem;
      color: var(--headertext);
    }

    p {
      color: var(--para);
    }
  }

  @media screen and (max-width: 700px) {
    flex-direction: column;
    max-width: 350px;
    justify-content: center;
    //margin-top: 4rem;

    .fish {
      //max-height: 200px;
      float: right;
      img {
        object-fit: contain;
        max-height: 250px;
        float: right;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.process {
  padding-bottom: 5rem;
  .processcon {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    h2 {
      font-size: 3rem;
      margin-top: 5rem;
      color: var(--headertext);
    }
    p {
      color: var(--lighttext);
    }

    .processflex {
      display: flex;
      flex-direction: row;
      flex: 1;

      @media screen and (max-width: 700px) {
        flex-direction: column;
      }
      .processimg {
        .processinner {
          width: 100px;
          height: 100px;
          background-color: green;
          margin-right: 2rem;
          margin-top: 2.175rem;
        }
      }
      .processinfo {
        width: 80%;
        @media screen and (max-width: 700px) {
          width: 100%;
        }
        h3,
        h2 {
          color: var(--headertext);
        }
        p {
          color: var(--lighttext);
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.showcase {
  background-color: var(--lightb);
  padding-top: 3rem;
  padding-bottom: 3rem;
  .showcaseflex {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    h2 {
      font-size: 3rem;
      color: var(--headertext);
      padding-bottom: 4rem;
    }
  }
  h3 {
    color: var(--headertext);
  }

  p {
    color: var(--lighttext);
  }
  .showcaseflex2 {
    display: flex;
    flex: 1;
    flex-direction: row;
    //border: 1px solid blue;
    margin-bottom: 3rem;

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }

  .showcasetitle {
    padding-left: 40px;
    padding-right: 40px;
    width: 40%;
    @media screen and (max-width: 700px) {
      flex-direction: column;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .showcaseimg {
    width: 60%;
    height: 300px;
    background-color: #f3ebeb;
    @media screen and (max-width: 700px) {
      //margin-left: 40px;
      width: 100%;
    }
  }
}
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.tech {
  padding-top: 3rem;
  .techflex {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    h2 {
      font-size: 3rem;
      color: var(--headertext);
      //spadding-left: 1rem;
    }

    h3,
    p {
      color: var(--headertext);
    }
  }
}
