// html,
// body {
//   background-color: #070a0c;
// }

///////

.bolder {
  color: gb(18, 18, 18);
}

.button1 {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 50rem;
  color: #fff;
  background-color: var(--lightblue);
  border-color: var(--lightblue);
  width: 150px;
  text-align: center;
  margin-bottom: 4rem;
  font-weight: bold;
  box-shadow: 0 20px 60px -5px rgba(0, 0, 0, 0.3),
    0 7px 36px -10px rgba(0, 0, 0, 0.33);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  text-shadow: none;
  background-image: none;
  margin-top: 1rem;

  &:hover {
    transform: translateY(-2px);
    color: #fff;
    box-shadow: 0 30px 80px 3px rgba(0, 0, 0, 0.3),
      0 20px 50px -10px rgba(0, 0, 0, 0.3);
  }

  svg {
    margin-left: 0.5rem;
    margin-top: 3px;
  }
}

.landing {
  transition: all ease-in-out 2s;
  //padding-bottom: 3rem;
  //margin-bottom: 3rem;
  position: relative;
  height: 100vh;
  margin: 0 auto;
  z-index: 1;
  // background-image: url("../../static/hero.svg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;

  //background-attachment: fixed;
  //background-color: black;
  background-color: var(--light1);
  @media screen and (max-width: 508px) {
    background: linear-gradient(
      to top,
      #000000,
      var(--light1),
      90%,
      var(--light1)
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  &:before {
    content: "";
    width: 900px;
    height: 900px;
    position: absolute;
    top: 0;
    left: -300px;
    opacity: 0.1;
    z-index: -1;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%231EAEDB' d='M40.8,-57.4C55,-54.3,70.3,-46.7,68.8,-35.6C67.4,-24.5,49.3,-10,44,4.2C38.7,18.5,46.2,32.5,44.5,43.6C42.8,54.7,31.8,62.9,20.5,63.1C9.2,63.4,-2.5,55.8,-14.4,51.3C-26.3,46.8,-38.5,45.4,-42.4,38.2C-46.3,31.1,-41.9,18.2,-41.2,7.4C-40.4,-3.4,-43.3,-12.3,-38.9,-16.1C-34.5,-19.8,-22.8,-18.6,-15.1,-24.7C-7.4,-30.8,-3.7,-44.4,4.8,-51.8C13.3,-59.2,26.5,-60.6,40.8,-57.4Z' transform='translate(100 100)' /%3E%3C/svg%3E");
  }

  .landingflex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1;
    max-width: 1300px;
    margin: 0 auto;
    height: calc(100% - 48.31px);

    .title {
      flex: 1;
      //flex-shrink: 0;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    .fish {
      height: 100%;
      flex: 1;
      display: flex;
      justify-self: flex-end;
      padding-right: 2rem;
      padding-bottom: 2rem;
      //min-height: 200px;

      svg {
        //transform: scale(0.1);
        //min-width: 0;
        //height: 100%;
        //max-width: 100%;

        g > path:nth-last-of-type(n + 3) {
          stroke-dashoffset: 800;
          stroke-dasharray: 800;
          height: 100%;
          width: 100%;
          fill: none;
          animation: starlines 3s ease-in-out 0.5s 1 normal forwards running;
        }

        g > path:nth-last-of-type(-n + 2) {
          stroke-dashoffset: 800;
          stroke-dasharray: 800;
          height: 100%;
          width: 100%;
          fill: none;
          animation: starlines 3.4s ease-in-out 0.8s 1 normal forwards running;
        }
      }
    }

    @media screen and (max-width: 700px) {
      //max-width: 350px;
      //justify-content: center;
      flex-direction: column;
      .title {
        margin-top: 0;
      }

      p {
        line-height: 1.2;
      }

      .fish {
        //max-height: 200px;
        //float: right;

        margin-left: 1rem;
        margin-right: 1rem;
        padding-right: 1rem;
      }
    }

    > div {
      //display: flex;
      flex: 1;
      //border: 1px solid blue;
    }

    .title {
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 5rem;
      //margin-top: 10rem;
      transition: all 0.37s ease 0s;
      animation: testt 1s ease 0s 1 normal none running;
      max-height: 50%;
      @media screen and (max-width: 700px) {
        //max-width: 350px;
        //justify-content: center;

        margin-top: 0;
      }
      .high {
        color: var(--headertext);
        font-weight: bold;
        transition: color ease-in-out 1.3s;
      }
      .spantitle {
        //color: #ebaf4b;
        color: red;
      }

      p {
        //color: hsla(0, 0%, 100%, 0.5);
        color: var(--textcolor2);
        font-size: 1.3rem;
        @media screen and (max-width: 428px) {
          font-size: 1rem;
          //left: -250px;
        }
      }
      h1 {
        //color: #1f6bff;
        color: rgb(11, 116, 222);
        font-size: 3rem;
      }
    }
  }
  .bubbles {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;

    @media screen and (max-width: 700px) {
      width: 290px;
      right: 0;
      //left: -250px;
    }
  }

  .bubble {
    animation: bubbleOne 3s ease-in 4.4s infinite;
    border-radius: 50%;
    box-shadow: inset 0 0 0.5em 0 var(--bubble);
    height: 2rem;
    left: -20px;
    position: absolute;
    top: 31%;
    width: 2rem;
    transform: scale(0);
    @media screen and (max-width: 700px) {
      top: 25%;
      left: -15px;
      //left: -250px;
    }
  }

  @keyframes bubbleOne {
    0% {
      -webkit-transform: scale(0) translateY(0);
      transform: scale(0) translateY(0);
    }
    25% {
      -webkit-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
    }
    100% {
      -webkit-transform: scale(1) translateX(0.2em) translateY(-60vh);
      transform: scale(1) translateX(0.2em) translateY(-60vh);
    }
  }
}

@keyframes testt {
  0%,
  20% {
    transform: translateY(65px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes testt {
  0%,
  20% {
    transform: translateY(65px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes puff {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes starlines {
  0% {
    stroke-dashoffset: 700;
    stroke-dasharray: 700;
  }

  100% {
    stroke-dashoffset: 0;
    stroke-dasharray: 700;
  }
}

/////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.process {
  padding-bottom: 5rem;
  .processcon {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    h2 {
      font-size: 3rem;
      margin-top: 5rem;
      color: var(--headertext);
    }
    p {
      color: var(--textcolor);
    }

    .processflex {
      display: flex;
      flex-direction: row;
      flex: 1;

      @media screen and (max-width: 700px) {
        flex-direction: column;
      }
      .processimg {
        max-width: 200px;
        margin-top: 2.175rem;
        margin-right: 2rem;

        img {
          margin-bottom: 0;
        }
        .processinner {
          width: 100px;
          height: 100px;
          background-color: #1eaedb;
          margin-right: 2rem;
          margin-top: 2.175rem;
        }
      }
      .processinfo {
        width: 80%;
        @media screen and (max-width: 700px) {
          width: 100%;
        }
        h3,
        h2 {
          color: var(--headertext);
        }
        p {
          color: var(--textcolor);
        }
      }
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// .showcase {
//   background-color: var(--lightb);
//   padding-top: 3rem;
//   padding-bottom: 3rem;
//   .showcaseflex {
//     max-width: 1100px;
//     margin: 0 auto;
//     padding-left: 1rem;
//     padding-right: 1rem;

//     h2 {
//       font-size: 3rem;
//       color: var(--headertext);
//       padding-bottom: 4rem;
//     }

//     img {
//       max-height: 300px;
//     }
//   }
//   h3 {
//     color: var(--headertext);
//   }

//   p {
//     color: var(--textcolor);
//   }
//   .showcaseflex2 {
//     display: flex;
//     flex: 1;
//     flex-direction: row;
//     //border: 1px solid blue;
//     margin-bottom: 3rem;

//     @media screen and (max-width: 700px) {
//       flex-direction: column;
//     }
//   }

//   .showcasetitle {
//     padding-left: 40px;
//     padding-right: 40px;
//     width: 40%;
//     @media screen and (max-width: 700px) {
//       flex-direction: column;
//       width: 100%;
//       padding-left: 0;
//       padding-right: 0;
//     }
//   }

//   .caseimg {
//     height: 300px;
//     background-color: #f3ebeb;
//     @media screen and (max-width: 700px) {
//       //margin-left: 40px;
//       width: 100%;
//     }
//   }
// }
///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.tech {
  img {
    max-width: 70px;
    margin-right: 1rem;
  }
  .high {
    color: var(--headertext);
    font-weight: bold;
  }
  padding-top: 3rem;
  padding-bottom: 3rem;
  .techflex {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;

    h2 {
      font-size: 3rem;
      color: var(--headertext);
      background: linear-gradient(top, var(--under), var(--under)) no-repeat 1px
        35px;
      //spadding-left: 1rem;
    }

    h3 {
      color: var(--headertext);
      background: linear-gradient(top, var(--under), var(--under)) no-repeat 1px
        35px;
    }

    p {
      color: var(--textcolor);
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////@extend
.contact {
  background-color: var(--dim);
  padding-top: 3rem;
  //padding-bottom: 3rem;
  //margin-bottom: 300px;
  h2,
  h1 {
    color: var(--headertext);
    font-size: 3rem;
    //margin-top: 0;
  }

  .contactflex {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

////////////////////////////
.testing {
  height: 30px;
}

.under {
  display: inline-block;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--lightblue)),
      to(var(--lightblue))
    )
    no-repeat 1px 35px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
.footer {
  background-color: #1eaedb;
  // position: fixed;
  // bottom: 0;
  // height: 300px;
  // width: 100%;
  // z-index: -1;

  .waves {
    padding-bottom: 0;
    background-color: var(--dim);
    margin-bottom: 0;
    position: relative;
    top: 0rem;
    svg {
      margin-bottom: -7px;
    }
  }

  .innerfooter {
    color: #f4f4f4;
    text-align: center;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 3rem;
    p {
      margin-bottom: 0;
    }
  }
}
