// html,
// body {
//   background-color: #070a0c;
// }

.landing {
  .landingflex {
    display: flex;
    flex-direction: row;
    max-width: 1100px;
    flex: 1;
    margin: 0 auto;
    //border: 1px solid blue;
    margin-top: 10rem;

    @media screen and (max-width: 700px) {
      flex-direction: column;
      max-width: 350px;
      justify-content: center;
      margin-top: 4rem;

      .fish {
        //max-height: 200px;
        float: right;
        img {
          object-fit: contain;
          max-height: 250px;
          float: right;
        }
      }
    }

    > div {
      flex: 1;
      //border: 1px solid blue;
    }

    .title {
      margin-left: 1rem;
      //margin-top: 10rem;

      .high {
        color: #f4f4f4;
      }
      .spantitle {
        color: #ebaf4b;
      }

      p {
        color: hsla(0, 0%, 100%, 0.5);
        font-size: 1.3rem;
      }
      h1 {
        color: #40c4fb;
        font-size: 3rem;
      }
    }
  }
}

/////////////////////////////////////////////////////
.intro {
  min-height: 100vh;
  border: 1px solid red;
  background-color: var(--lightb);
}
