.mcon {
  max-width: 1200px;
  margin: 0 auto;

  h1,
  h3 {
    color: var(--headertext);
  }
  h2 {
    font-size: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: var(--headertext);
  }
  p {
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }

  .flexitem {
    flex: 1;
    margin: 1rem;
    padding: 1rem;
  }
}
.under {
  display: inline-block;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--lightblue)),
      to(var(--lightblue))
    )
    no-repeat 1px 35px;
}
