.main {
  background-color: var(--dim);
  transition: background-color ease-in-out 1.3s, all ease 0.3s 0.4s;
  padding-bottom: 3rem;

  .maintitle {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-left: 2rem;
    h2 {
      font-size: 3rem;
      color: var(--headertext);
      transition: color ease-in-out 1.3s;
      margin-bottom: 3rem;
    }
  }

  .flex {
    max-width: 1300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    flex-wrap: wrap;

    .flexItem {
      border: 2px solid #e6f2ff;
      border-radius: 6px;
      padding: 70px 30px 30px 30px;
      position: relative;

      display: flex;

      flex-direction: column;
      flex: 1;
      align-items: center;
      max-width: 400px;
      min-width: 250px;
      margin: auto;
      margin-bottom: 50px;

      h2 {
        position: absolute;
        text-align: center;
        background: #f1f8ff;
        width: 100%;
        top: 0;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        text-transform: uppercase;
        border-bottom: 2px solid #e6f2ff;
        margin-top: 0;
        color: #0b74de;
      }

      span {
        font-family: Poppins, sans-serif;
        color: #646464;
        margin: 0;
        font-weight: 300;
      }

      h3 {
        position: relative;
        color: #0b74de;
        font-size: 4rem;

        margin-top: 0;

        transform: translateX(-10px);
      }
      h3:before {
        content: "$";
        position: absolute;
        top: -10px;
        left: -35px;
        font-size: 1em;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        height: auto;
      }

      h3:after {
        content: "/MO";
        position: absolute;
        right: -99px;
        bottom: -15px;
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        transform: scale(0.3);
      }

      button {
        color: #fff;
        background: #43b7ff;
        background: -o-linear-gradient(left, #43b7ff 0, #00ddf6 100%);
        background: -webkit-gradient(
          linear,
          left top,
          right top,
          from(#43b7ff),
          to(#00ddf6)
        );
        background: linear-gradient(90deg, #43b7ff 0, #00ddf6 100%);
        border-radius: 3px;
        width: auto;
        height: auto;
        font-weight: 700;
        margin: 10px 0;
        padding: 15px 30px;
        font-size: 0.75em;
        width: auto;

        transition: 0.3s ease;

        box-sizing: border-box;
        border: 1px solid transparent;
      }

      li {
        display: flex;
        margin-bottom: 15px;
        align-items: center;
        position: relative;

        img {
          width: 15px;
          height: 15px;
          position: absolute;
          left: -30px;
        }
      }
    }
  }
}

.under {
  display: inline-block;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--lightblue)),
      to(var(--lightblue))
    )
    no-repeat 1px 35px;
}
