.process2 {
  //position: relative;
  margin-top: 4rem;
  padding-bottom: 4rem;

  .process2top {
    max-width: 1100px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    //padding-bottom: 3rem;
  }

  h2 {
    font-size: 3rem;
    margin-top: 5rem;
    color: var(--headertext);
  }
  p {
    color: var(--textcolor);
  }

  .process2flex {
    max-width: 1100px;
    margin: 0 auto;
  }
  h3 {
    background-color: #40c4fb;
    display: inline-block;
    color: var(--headertext);

    padding: 5px 10px;
  }

  .flex1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .process2inner {
    position: relative;
    width: 340px;
    background-color: var(--cardbg);
    //background-color: #fff;
    //height: 300px;
    padding: 20px;
    padding-top: 10px;
    //border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px,
      rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px;
    transition: all 0.3s ease-in-out 0s;
  }
  .lines {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    height: calc(100% + 84px);
    width: calc(100% - 80px);
    top: -25px;
    left: 40px;
    background-color: transparent;
  }

  .line {
    stroke: #1eaedb;
    stroke-width: 4;
    stroke-dashoffset: 0;
    stroke-dasharray: 5;

    animation: dash 1s linear infinite;
  }
}

.schemapart {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 80px;
  //background-color: #fff;

  h3 {
    text-align: center;
    margin-top: -38px;
    background-color: #40c4fb;
    display: inline-block;
    color: var(--headertext);
    padding: 5px 10px;
  }
}

.schemparent {
  margin: 10px auto 20px;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-top: -9px;
}

.schemparent2 {
  margin: 10px auto 20px;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-top: -24px;
}

.schemapart2 {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 80px;
  //background-color: #fff;

  h3 {
    //position: absolute;
    text-align: center;
    margin-top: -60px;
    margin-bottom: 20px;
    background-color: #40c4fb;
    display: inline-block;
    color: var(--headertext);
    padding: 5px 10px;
  }
}

.schemgroup {
  margin: 10px auto 20px;
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.schemitem {
  position: relative;
  z-index: 2;
  padding: 10px;
  display: inline-block;
  background-color: var(--bg2);
  margin: 1rem;
  width: 340px;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 150px;
  color: #253032;
  background-color: var(--cardbg);
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px;
}
@keyframes dash {
  0% {
    stroke-dashoffset: 10;
  }
  100% {
    stroke-dashoffset: 0;
  }
  0% {
    stroke-dashoffset: 10;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.under {
  display: inline-block;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--under)),
      to(var(--under))
    )
    no-repeat 1px 35px;
}

h4 {
  color: var(--headertext);
  margin-top: 1rem;
  text-align: center;
}

////////////////////////////////////////////////////////////////@extend
