.main {
  background-color: var(--back);
  padding-bottom: 3rem;
  //margin-top: 100vh;
  .maintitle {
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-left: 2rem;
    h2 {
      font-size: 3rem;
      color: var(--headertext);
    }
  }
  .mainflex {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .flexitem {
    background-color: var(--cardbg);
    min-width: 300px;
    max-width: 400px;
    max-height: 400px;
    min-height: 400px;
    margin: 1rem;
    position: relative;
    flex: 1;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px,
      rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px;
    transition: all 0.3s ease-in-out 0s;

    &:hover {
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.35);
      transform: scale(1.03);
    }
  }

  .go {
    position: relative;
    text-decoration: none;
    color: #fff;
    text-shadow: none;
    background-image: none;
  }

  .myimage {
    position: absolute;
    transform: translateX(-50%);
  }

  .cardtop {
    position: absolute;
    margin-top: -50px;
    margin-left: 25px;
  }

  .cardbottom {
    position: absolute;
    margin-top: 159px;
    padding: 20px;
  }

  h3 {
    color: var(--headertext);
  }

  p {
    color: var(--textcolor);
  }
}

.under {
  display: inline-block;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--under)),
      to(var(--under))
    )
    no-repeat 1px 35px;
}
