.main {
  background-color: var(--back);
  padding-bottom: 3rem;
  transition: background-color ease-in-out 1.3s, color ease-in-out 1.3s;
  //lposition: relative;

  .yellowhigh {
    background: var(--ogfish);
    padding: 0 10px;
    color: #ffffff;
    h3,
    p {
      color: #ffffff;
    }
  }

  .maintitle {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    * {
      max-width: 500px;
    }
    h2 {
      font-size: 3rem;
      color: var(--headertext);
      transition: color ease-in-out 1.3s;
    }
    h3 {
      font-size: 2rem;
      color: var(--lighttextbold);
      transition: color ease-in-out 1.3s;
      .yellowhigh {
        background: var(--ogfish);
        padding: 0 10px;
        color: #fff;
      }
    }

    a {
      color: var(--under);
      font-size: 1.3rem;
    }
  }

  .mainflex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    //margin-top: 3rem;

    @media screen and (max-width: 700px) {
    }
  }

  .info {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;
    z-index: 2;

    p {
      font-size: 1.3rem;
    }

    .big {
      font-weight: bold;
      font-size: 2rem;
      color: var(--headertext);
    }
    a {
      color: var(--under);
    }
  }

  .info:after {
    content: "";
    position: absolute;
    //left: 10%;
    width: 900px;
    height: 900px;
    bottom: -600px;
    left: 600px;
    //opacity: 0.9;
    //z-index: -2;
    //opacity: 0.9;
    //color: rgba(91, 209, 245, 0.5);
    z-index: -1;
    opacity: 0.5;

    background-image: url("data:image/svg+xml,%3Csvg viewBox='50 50 120 120'   xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%235BD1F5' d='M35.1,-36.2C45,-33.6,52.1,-22,52.4,-10.7C52.7,0.7,46.2,11.8,38.4,19.3C30.7,26.9,21.7,30.9,12.9,33C4.2,35.1,-4.3,35.2,-11.7,32.4C-19.1,29.6,-25.2,23.9,-28.9,17C-32.6,10,-33.9,1.9,-28.8,-1.4C-23.8,-4.7,-12.6,-3.2,-6.8,-6.6C-0.9,-10,-0.5,-18.3,6.1,-25.5C12.6,-32.7,25.2,-38.9,35.1,-36.2Z' transform='translate(100 100)' /%3E%3C/svg%3E");
  }

  .picflex {
    flex: 1;
    margin: 1rem;
    margin-top: 3rem;
    //position: relative;
    z-index: 3;
    min-width: 350px;
    .big {
      font-weight: bold;
      font-size: 2rem;
      color: var(--headertext);
      transition: color ease-in-out 1.3s;
    }

    p {
      //color: var(--textcolor);
      font-size: 1.3rem;
    }

    .p2 {
      margin-top: 40%;
    }
    @media screen and (max-width: 850px) {
      //min-width: 275px;
      margin-top: 1rem;

      .p2 {
        margin-top: 0;
      }
    }

    .infobox {
      position: absolute;
      top: 30%;
      width: 100%;
      //text-align: center;
      z-index: 2;
      color: var(--textcolor);
      //border-radius: 10px;
    }

    img {
      //border-radius: 10px;
      //filter: grayscale(0.5);
    }
  }

  .picflex2 {
    flex: 1;
    margin: 1rem;
    margin-top: 6rem;
    position: relative;
    margin-bottom: 5rem;
    min-width: 350px;

    @media screen and (max-width: 700px) {
      .infobox {
        transform: translateX(0);
        min-width: none;
      }
    }

    .slide {
      position: absolute;
      top: 30%;
      width: 100%;
      z-index: 3;
    }

    .infobox {
      position: absolute;
      top: 30%;
      width: 100%;
      //text-align: center;
      z-index: 3;
      padding-left: 1rem;
      padding-right: 1rem;
      overflow: visible;
      //opacity: 0.5;
      transform: translateX(80px);
      background-color: var(--bluet);
      background-blend-mode: lighten;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);
      transform: perspective(700px) rotateY(-10deg) translateX(80px);
      border-radius: 10px;

      h3 {
        z-index: 4;
        color: #fff;
      }

      @media screen and (max-width: 700px) {
        transform: translateX(0);
        width: 90%;
        margin-left: 10%;
      }

      // &:before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   opacity: 0.4;
      //   z-index: -1;
      // }

      h3 {
        color: #fff;
        background-color: transparent;
        z-index: 3;
        margin-top: 1rem;
        //filter: blur(10);
      }
    }

    img {
      //border-radius: 10px;
      //filter: grayscale(0.5);
      transform: perspective(400px) rotateY(20deg);
      z-index: 2;
      margin-left: 10%;
      border-radius: 10px;
      box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.3),
        0 18px 36px -18px rgba(0, 0, 0, 0.33);

      @media screen and (max-width: 700px) {
        margin-right: 6rem;
        max-width: 100%;
      }
    }
  }

  .flexitem {
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px,
    //   rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px;
    box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.3),
      0 18px 36px -18px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease-in-out 0s;
    flex: 1;
    padding: 1.5rem;
    margin: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-bottom: 0;
    min-width: 350px;
    background-color: var(--cardbg);
    border-radius: 10px;

    &:hover h3 {
      transform: scale(1.1) translatey(-20px);
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 50px 80px -20px rgba(0, 0, 0, 0.27),
        0 30px 50px -30px rgba(0, 0, 0, 0.3);
      transform: scale(1.03);
    }

    h3 {
      display: block;
      margin-top: 0;
      text-align: center;
      color: var(--headertext);
      margin-top: -2rem;
      transition: all 0.3s ease-in-out 0s;

      span {
        background-image: linear-gradient(var(--gra), var(--gra2) 70%);
        padding: 9px 30px;
        padding-bottom: 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
      }
    }
    p {
      color: var(--textcolor);
    }

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }

  a {
    background-image: none;
    text-shadow: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.under {
  display: inline-block;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--lightblue)),
      to(var(--lightblue))
    )
    no-repeat 1px 35px;
}

.hello {
  display: flex;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-content: space-between;
  margin-top: 3rem;
  @media screen and (max-width: 700px) {
    flex-direction: column;
    //align-items: center;
  }

  > * {
    max-width: 500px;
    flex: 1;
    max-height: 800px;
  }
  .phon2 {
    max-width: 300px;
    position: relative;
    //margin: 0 auto;
    @media screen and (max-width: 700px) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    img {
      transform: perspective(1000px) rotateY(-20deg);
      z-index: 2;
      border-radius: 45px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 55px;
      box-shadow: 9px 36px 26px -10px rgba(0, 0, 0, 0.54);
      // box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.3),
      //   0 18px 36px -18px rgba(0, 0, 0, 0.33);
    }
  }
}

.blueb {
  //background-color: var(--bluet);
  padding: 1rem;
  border-radius: 30px;
  position: relative;
  z-index: 2;
  //background-blend-mode: lighten;
  @media screen and (max-width: 700px) {
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    margin-top: 0.5rem;
    font-size: 2rem;
    color: var(--headertext);
  }

  p {
    //display: inline-block;
    font-size: 1.3rem;
  }
}

.infobox2 {
  position: absolute;
  bottom: 50px;
  background-color: var(--bluet);
  //background-blend-mode: lighten;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transform: perspective(700px) rotateY(10deg) translateX(-270px);
  border-radius: 10px;
  padding: 1rem;
  padding-bottom: 0.4rem;
  z-index: 2;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 700px) {
    transform: perspective(900px) rotateY(20deg) translateX(0)
      translateY(-460px);
    width: 110%;
    p {
      font-size: 1rem;
    }
  }

  p {
    color: var(--headertext);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    @media screen and (max-width: 700px) {
      font-size: 1.1rem;
      color: #fff;
    }
  }
}

// .blob {
//   position: absolute;
//   //left: 10%;
//   width: 900px;
//   height: auto;
//   bottom: -300px;
//   left: -500px;
//   //opacity: 0.9;
//   //z-index: 1;
//   color: rgba(91, 209, 245, 0.5);
//   //z-index: -2;
//   background-image: url("data:image/svg+xml,%3Csvg view-box='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%0A%3E%3Cpath fill='currentColor' d='M42.5,-51C55.8,-39.5,67.8,-26.8,67.7,-13.9C67.7,-1,55.5,12,45.2,22.6C35,33.2,26.5,41.4,14.8,49.5C3.1,57.6,-11.9,65.7,-25,63.3C-38.2,60.9,-49.5,48,-45.2,35.7C-40.9,23.4,-20.9,11.6,-13.1,3C-5.3,-5.7,-9.7,-11.2,-9.5,-25C-9.3,-38.8,-4.7,-60.9,5,-66.8C14.6,-72.7,29.2,-62.5,42.5,-51Z' transform='translate(100 100)' /%3E%3C/svg%3E");
// }

.blueb:after {
  content: "";
  position: absolute;
  //left: 10%;
  width: 900px;
  height: 900px;
  bottom: -300px;
  left: -500px;
  //opacity: 0.9;
  //z-index: -2;
  //opacity: 0.9;
  //color: rgba(91, 209, 245, 0.5);
  z-index: -1;
  opacity: 0.5;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%235BD1F5' fillOpacity='.5' d='M42.5,-51C55.8,-39.5,67.8,-26.8,67.7,-13.9C67.7,-1,55.5,12,45.2,22.6C35,33.2,26.5,41.4,14.8,49.5C3.1,57.6,-11.9,65.7,-25,63.3C-38.2,60.9,-49.5,48,-45.2,35.7C-40.9,23.4,-20.9,11.6,-13.1,3C-5.3,-5.7,-9.7,-11.2,-9.5,-25C-9.3,-38.8,-4.7,-60.9,5,-66.8C14.6,-72.7,29.2,-62.5,42.5,-51Z' transform='translate(100 100)' /%3E%3C/svg%3E");
}
