.main {
  background-color: var(--back);
  padding-bottom: 3rem;

  .yellowhigh {
    background: var(--ogfish);
    padding: 0 10px;
    color: #ffffff;
    h3,
    p {
      color: #ffffff;
    }
  }

  .maintitle {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    * {
      max-width: 500px;
    }
    h2 {
      font-size: 3rem;
      color: var(--headertext);
    }
    h3 {
      font-size: 2rem;
      color: var(--lighttext);
      .yellowhigh {
        background: var(--ogfish);
        padding: 0 10px;
        color: #fff;
      }
    }

    a {
      color: var(--under);
      font-size: 1.3rem;
    }
  }

  .mainflex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
    //margin-top: 3rem;

    @media screen and (max-width: 700px) {
    }
  }

  .info {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;

    p {
      font-size: 1.3rem;
    }

    .big {
      font-weight: bold;
      font-size: 2rem;
      color: var(--headertext);
    }
    a {
      color: var(--under);
    }
  }

  .picflex {
    flex: 1;
    margin: 1rem;
    margin-top: 3rem;
    //position: relative;
    z-index: 3;
    min-width: 350px;

    h3 {
      color: var(--textcolor);
    }
    @media screen and (max-width: 700px) {
      min-width: 275px;
      margin-top: 1rem;
    }

    .infobox {
      position: absolute;
      top: 30%;
      width: 100%;
      //text-align: center;
      z-index: 2;
      color: var(--textcolor);
    }

    img {
      //border-radius: 10px;
      //filter: grayscale(0.5);
    }
  }

  .picflex2 {
    flex: 1;
    margin: 1rem;
    margin-top: 6rem;
    position: relative;
    margin-bottom: 5rem;
    min-width: 350px;

    @media screen and (max-width: 700px) {
      .infobox {
        transform: translateX(0);
      }
    }

    .slide {
      position: absolute;
      top: 30%;
      width: 100%;
      z-index: 3;
    }

    .infobox {
      position: absolute;
      top: 30%;
      width: 100%;
      //text-align: center;
      z-index: 3;
      padding-left: 1rem;
      padding-right: 1rem;
      overflow: visible;
      transform: translateX(80px);
      background-color: var(--ogfish);
      background-blend-mode: lighten;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
        0 15px 12px rgba(0, 0, 0, 0.22);
      transform: perspective(700px) rotateY(-10deg) translateX(80px);

      @media screen and (max-width: 700px) {
        transform: translateX(0);
        width: 90%;
        margin-left: 10%;
      }

      // &:before {
      //   content: "";
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   opacity: 0.4;
      //   z-index: -1;
      // }

      h3 {
        color: #fff;
        background-color: transparent;
        z-index: 3;
        margin-top: 1rem;
        //filter: blur(10);
      }
    }

    img {
      //border-radius: 10px;
      //filter: grayscale(0.5);
      transform: perspective(400px) rotateY(20deg);
      z-index: 2;
      margin-left: 10%;
      border-radius: 10px;
      box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.3),
        0 18px 36px -18px rgba(0, 0, 0, 0.33);

      @media screen and (max-width: 700px) {
        margin-right: 6rem;
        max-width: 100%;
      }
    }
  }

  .flexitem {
    // box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px,
    //   rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px;
    box-shadow: 0 30px 60px -10px rgba(0, 0, 0, 0.3),
      0 18px 36px -18px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease-in-out 0s;
    flex: 1;
    padding: 1.5rem;
    margin: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-bottom: 0;
    min-width: 350px;
    background-color: var(--cardbg);
    border-radius: 10px;

    &:hover h3 {
      transform: scale(1.1) translatey(-20px);
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 50px 80px -20px rgba(0, 0, 0, 0.27),
        0 30px 50px -30px rgba(0, 0, 0, 0.3);
      transform: scale(1.03);
    }

    h3 {
      display: block;
      margin-top: 0;
      text-align: center;
      color: var(--headertext);
      margin-top: -2rem;
      transition: all 0.3s ease-in-out 0s;

      span {
        background-image: linear-gradient(var(--gra), var(--gra2) 70%);
        padding: 9px 30px;
        padding-bottom: 20px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
      }
    }
    p {
      color: var(--textcolor);
    }

    @media screen and (max-width: 700px) {
      flex-direction: column;
    }
  }

  a {
    background-image: none;
    text-shadow: none;

    &:hover {
      cursor: pointer;
    }
  }
}

.under {
  display: inline-block;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(var(--under)),
      to(var(--under))
    )
    no-repeat 1px 35px;
}
